
.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;;
    font-size: 16px;
    color: #E4E5EA;
    width: 100vw;
    height: 100vh;
    background: url("./images/main-wrapper.svg");
    background-color: #1E1E1E;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 57px;
}

header {
    display: flex;
}

.gradientColor {
    background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tel {
    font-weight: 500;
}

@media (max-width: 760px) {
    .main-wrapper {
        overflow-x: hidden;
    }
}

@media (max-width: 500px) {
    .main-wrapper {
        padding-top: 0;
        background: url("images/mobile-wrapper.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}